<div class="card-container">
  <div class="card-row">
    <div class="card-group">
      <div class="card-title-box small-title">CONTRACTS</div>

      <div class="card">
        <dx-data-grid
          [dataSource]="contracts"
          [showBorders]="true"
          keyExpr="id"
          [editing]="{
            mode: 'popup',
            allowUpdating: true,
            allowAdding: true,
            allowDeleting: true
          }"
          (onRowInserting)="onAdd($event)"
          (onRowUpdating)="onEdit($event)"
          (onRowRemoving)="onDelete($event)"
        >
          <dxi-column
            dataField="title"
            caption="Contract Name"
            alignment="center"
          ></dxi-column>

          <dxi-column
            dataField="isActive"
            caption="Active"
            dataType="boolean"
            alignment="center"
          ></dxi-column>

          <dxi-column
            dataField="partnerIds"
            caption="Partners"
            [calculateCellValue]="getPartnerNames"
          ></dxi-column>

          <dxo-editing 
            mode="popup"
            [allowAdding]="true"
            [allowDeleting]="true"
            [allowUpdating]="true"
          >
            <dxo-popup
              title="Contract Details"
              [showTitle]="true"
              [width]="600"
              [height]="400"
            ></dxo-popup>

            <dxo-form>
              <dxi-item
                dataField="title"
                caption="Contract Name"
                [colSpan]="2"
              ></dxi-item>

              <dxi-item
                dataField="isActive"
                caption="Contract Active"
                [colSpan]="2"
              ></dxi-item>
              <!-- <dxi-item
  dataField="partnerIds"
  [editorType]="'dxTagBox'"
  [editorOptions]="{
    items:this.partners,
    showSelectionControls: true,
    dataSource: partners,
    displayExpr: 'name',
    valueExpr: 'id',
    searchEnabled: true,
    applyValueMode: 'useButtons',
    multiline: true,
  placeholder: 'Select partners...',
    hideSelectedItems: false,
    showClearButton: true
  }"
  caption="Select Partner"
  [colSpan]="2"
></dxi-item> -->
<dxi-item
  dataField="partnerIds"
  [editorType]="'dxSelectBox'"
  [editorOptions]="{
    dataSource: partners,
    displayExpr: 'name',
    valueExpr: 'id',
    searchEnabled: true,
    showClearButton: true,
    placeholder: 'Select a partner'
  }"
  caption="Select Partner"
  [colSpan]="2"
/>

            </dxo-form>
          </dxo-editing>
        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
<!-- 
<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="contracts"
    [showBorders]="true"
    (onSelectionChanged)="onSelectionChanged($event)"
  >
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-editing
      mode="cell"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
    </dxo-editing>
    <dxo-selection mode="multiple"></dxo-selection>

    <dxi-column dataField="title" caption="Title" [width]="55"></dxi-column>
    <dxi-column dataField="isActive"></dxi-column>
    <dxi-column dataField="partnerIds" caption="Partner" [width]="125">
      <dxo-lookup [dataSource]="partners" displayExpr="name" valueExpr="id">
      </dxo-lookup>
    </dxi-column>

    <dxo-toolbar>
      <dxi-item name="addRowButton" showText="always"> </dxi-item>
      <dxi-item location="after">
        <dx-button
          (onClick)="onDelete($event)"
          [disabled]="!selectedItemKeys.length"
          icon="trash"
          text="Delete Selected Records"
        >
        </dx-button>
      </dxi-item>
    </dxo-toolbar>
  </dx-data-grid>
</div> -->
